dataset/AMinerAuthor/*.txt filter=lfs diff=lfs merge=lfs -text
dataset/emailEnron/*.txt filter=lfs diff=lfs merge=lfs -text
dataset/emailEu/*.txt filter=lfs diff=lfs merge=lfs -text
dataset/StackOverflowPhysics/*.txt filter=lfs diff=lfs merge=lfs -text
downstreamdata/AMiner/*.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/*.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction.txt filter=lfs diff=lfs merge=lfs -text
dataset/Downstream/AMiner/*.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_our_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_ast_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_our_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_ast_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_ast_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_ast_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_hst_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_ast_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_hst_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_hst_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_our_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_our_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_hst_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_hst_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_our_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_ast_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_our_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_our_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_ast_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_our_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_hst_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_hst_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_hst_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_hst_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_hst_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_our_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_ast_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_ast_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_ast_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_hst_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_our_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_hst_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_our_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_our_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_our_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_ast_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_ast_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_ast_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_hst_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_hst_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_ast_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_hst_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_ast_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_our_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_hst_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_ast_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_hst_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_our_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_our_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_ast_10000.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_hst_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/halo/prediction_ast_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_hst_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_hst_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_our_0.txt filter=lfs diff=lfs merge=lfs -text
train_results/AMiner/prediction_our_10.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_ast_100.txt filter=lfs diff=lfs merge=lfs -text
train_results/DBLP_cat/prediction_our_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_ast_500.txt filter=lfs diff=lfs merge=lfs -text
train_results/Etail/prediction_our_0.txt filter=lfs diff=lfs merge=lfs -text
